<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.soa.dao.IndexDAO">
	<select id="findUserModule" resultType="map" parameterType="string">
		select distinct
		u5.authority_name,u7.FUNCITON_NAME,u7.FUNCTION_URL,u7.FUNCTION_DESC
		from user_info u1,ui_ur_relation u2,user_role u3,ur_ua_relation
		u4,user_authority u5,ua_uf_relation u6,user_fucntion u7
		where u2.ui_id=#{user_id} and u2.ur_id=u3.role_id and u3.role_id=u4.ur_id
		and u4.ua_id=u5.ua_id and u5.ua_id=u6.ua_id and u6.uf_id=u7.uf_id
	</select>
</mapper>












